@import "bootstrap";

.container {
      margin: auto;
      background-color:whitesmoke;
      width: 100%;
      
    }
.menu{
    margin: auto;
    background-color: whitesmoke;
    width: auto;
    width:100% ;
}
.menu-image{
    justify-content: center;
    width: 100%;
}
.carrusel{
   width: 100%;
}

.carruselbottom{
    background-color: purple;
    justify-content: center;
    font-size: 18px;
    width:100%;
    height: 30%;
    
}

.textbox{
justify-content: space-around;
background-color: orchid;
width: 250px;
height: 100%;
}
.textmenu{
    display: inline-block;
}
.footer {
font-size: 30px;
}    

.letter-font{
    font-size: 30px
}

/* responsive*/

@media (max-width:480px){

}