<!DOCTYPE html>
<html>
  <head>
    <title>Proyect</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
