%body
    .container.container-fluid
        .row
            .col-3
                .menu-image
                    = image_tag 'gordon.png' , class: 'rounded-circle menu-image',alt:'Responsive image'
                .menu.list-group
                    %i.fas.fa-utensils
                    =link_to 'Tastemakers'
                    %i.fas.fa-book
                    =link_to 'Blog'                  
                    %i.far.fa-list-alt
                    =link_to 'The-A-List'
                    %i.fas.fa-medkit
                    =link_to 'Contribute'
                    %i.fas.fa-address-book
                    =link_to 'About'                    
            .col-9
                .carrusel
                    = image_tag 'background.jpg', class: 'img-fluid' , alt:'Responsive image'
                 
        .row
            .social
                %h1 lasted twitt
                %button.btn.btn-outline-primary{:type => "button"}
                    %i.fab.fa-twitter
                    Join the Conversation 
                %h1 lest be a friends
                %button.btn.btn-outline-primary{:type => "button"}
                    %i.fab.fa-facebook-f
                    Join the Community                                                                  
            
            .col-9
                .row
                    .col  
                        =link_to 'Tastemakers' 
                    .col    
                        =link_to 'Blog'             
                    .col    
                        =link_to 'The-A-List'
                    .col    
                        =link_to 'Contribute'    
                .row
                    .col               
                        %i.fa.fa-envelope
                    .col
                        .form-group.row
                            %label.col-2.col-form-label{:for => "example-text-input"} 
                        .col-10
                            %input#example-text-input.form-control{:type => "text", :value => "introduce email"}/
                    .col
                        %button.btn.btn-secondary{:type => "button"} Suscribirse
            .row
                .col-3

                .col
                    = image_tag 'salmon.png', class: 'img-fluid' , alt:'Responsive image'
                    .col
                        %h texto
                .col
                    = image_tag 'salmon.png', class: 'img-fluid' , alt:'Responsive image'
                    .col
                        %h texto
                .col
                    = image_tag 'salmon.png', class: 'img-fluid' , alt:'Responsive image'
                    .col
                        %h texto
                .col           
                    = image_tag 'salmon.png', class: 'img-fluid' , alt:'Responsive image'
                    .col
                        %h texto

         
     
        
        .row
            .col.2.d-inline-block
                %h1 private policy
            .col.2.d-inline-block    
                %h1 term of uses
            .col.2.d-inline-block    
                %h1 contact
            .col.2.d-inline-block-justify-content-end
                .footer
                    %i.fab.fa-twitter
                    %i.fab.fa-facebook-f
                    %i.fa.fa-rss        

    
